doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Socket.IO Chat Example
    link(rel='stylesheet', href='/static/css/style.css')
  body
    ul.pages
      li.chat.page
        .chatArea(style='width:60%;float:left')
          h1 Messages
          ul.messages
        #right(style='width:40%;float:right;border-left: 1px solid black;height: 100%;')
          h1 Users
          ul.users
            each val in users
              li(class=val._id,style='width: 100%;height: 100%;display: inline-block;')
                .status(class=val.status)
                div(style='margin:2%')=val.handle
        input.inputMessage(placeholder='Type here...')
      li.login.page
        .form
          h3.title What's your nickname?
          input.usernameInput(type='text', maxlength='14')
    script(src='/static/js/jquery-1.10.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='static/js/main.js')